
<%- include("partials/header") -%>

<h1>Compose</h1>
<form  action="/compose" method="post">

  <div class="form-group">
    <label for="title">Title</label>


    <input class="form-control" type="text" name="postTitle" value="" placeholder="Title here">

    <label>Post</label>
    <textarea class="form-control" type="text" name="postBody" placeholder="Write your Blog here" cols="50" rows="5"></textarea>


  </div>
    <button class="btn btn-primary" type="submit" name="publish">Publish</button>
</form>


<%- include("partials/footer") -%>
